.whatsapp-btn-container {
	background: none;
	border: none;
	position: -webkit-sticky;
	position: sticky;
	top: 90%;
	right: 2%;
	z-index: 1;
	float: right;
	// height: 30px;
}

.whatsapp-logo {
	width: 3rem;
	height: 3rem;
}
