.about-us {
	padding: 1rem 0.5rem;
	margin: 2rem auto;
	background-color: var(--clr-secondary);
	color: var(--clr-background);
	line-height: 1.4;

	@media screen and (min-width: 650px) {
		padding: 1.2rem 1rem 1.2rem 1.5rem;
	}
	@media screen and (min-width: 1000px) {
		padding: 1.2rem 1rem 1.2rem 1.8rem;
	}
	@media screen and (min-width: 1300px) {
		width: 1300px;
		padding: 1.2rem 1rem 1.2rem 3rem;
	}
}

.about-us h2 {
	margin-bottom: 0.5em;
	text-align: center;
}

.about-us p {
	text-align: left;
}
